<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link
      rel="preconnect"
      href="https://607c19c267e6530017573aa0.mockapi.io"
      crossorigin
    />
    <link
      rel="dns-prefetch"
      href="https://607c19c267e6530017573aa0.mockapi.io"
    />
    <title>Fast Loading Website</title>
  </head>
  <body>
    <div id="app-root"></div>
  </body>
</html>
